.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

@media (max-width : 600px){
    .Person{
    width: 500px;
    }
}

.input{
    width : 100px ;
    margin: 10px;
    border-radius: 3px;
    text-align: center;
    border:1px solid rgb(228, 228, 228);
}
